@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  /* --pri-color: #ec704b;
  --sec-color: #f5f378;    ;
  --ter-color: #ffffff;
  --qua-color: #dcc1ff;
  --qui-color: #5551fe;
  --sen-color: #171717; */
  --size-1: 1rem; /* 16px */
  --size-2: 1.25rem; /* 20px */
  --size-3: 1.5rem; /* 24px */
  --size-4: 1.75rem; /* 28px */
  --size-5: 2rem; /* 32px */
  --size-6: 2.25rem; /* 36px */
  --size-7: 2.5rem; /* 40px */
  --size-8: 2.75rem; /* 44px */
  --size-9: 3rem; /* 48px */
  --size-10: 3.25rem; /* 52px */
  --size-11: 3.5rem; /* 56px */
  --size-12: 3.75rem; /* 60px */
  --size-13: 4rem; /* 64px */
  --global-font: 'Roboto', sans-serif;
  /* --rounded-radius: 4rem; */
}

/* flexible and reusable styling */

* {
  font-family: var(--global-font);
  font-weight: 400;
}

strong {
  font-weight: 500;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  font-size: 1vw;
}

h1 {
  font-size: 3.5vw;
}

h2 {
  font-size: var(--size-9);
  font-weight: 700;
}

h3 {
  font-size: var(--size-2);
  font-weight: 700;
}

h4 {
  font-size: 14px;
  font-weight: 700;
}

.container {
  width: 66.66%;
  border: 1px solid red; /* TEMPORARY */
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--size-2) var(--size-7);
}

/* header styling */

header {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid grey; /* TEMPORARY */
}

/* nav styling */

.nav-right li {
  margin-left: var(--size-2);
}

/* under-header styling */

#under-header {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: var(--size-2) auto;
  border: 1px solid grey; /* TEMPORARY */
}

#under-header figure {
  width: 10rem;
  height: 10rem;
  border: 1px solid grey; /* TEMPORARY */
}

/* roadmap styling */

#roadmap {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: var(--size-2) auto;
  border: 1px solid grey; /* TEMPORARY */
}

.flex-roadmap {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: var(--size-2);
  padding: var(--size-2) var(--size-7);
}

.road-right li {
  border: 1px solid grey;
  margin-left: 10px;
  padding: 10px;
}

/* about-me styling */

#about-me {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: var(--size-2) auto;
  border: 1px solid grey; /* TEMPORARY */
}

.flex-about {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  padding: var(--size-2) var(--size-7);
}

.about-top h2 {
  display: inline-block;
}

.about-bottom P {
  font-size: var(--size-2); 
}

.about-bottom p + p {
  margin-top: var(--size-2);  
}

/* work styling */

#work {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: var(--size-2) auto;
  border: 1px solid grey; /* TEMPORARY */
}

.flex-work {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  padding: var(--size-2) var(--size-7);
}

.grid-work {
  display: grid;
  gap: var(--size-2);
  grid-template-rows: repeat(10, 6.25rem);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "work-1 work-1"
    "work-1 work-1"
    "work-1 work-1"
    "work-1 work-1"
    "work-2 work-3"
    "work-2 work-3"
    "work-2 work-3"
    "work-4 work-5"
    "work-4 work-5"
    "work-4 work-5";
  width: 100% ;
}

/* grid-big-child styling */

.grid-big-child {
  width: 100%;
  border: 1px solid grey; /* TEMPORARY */
}

.grid-big-child figure {
  width: 100%;
  height: 80%;
}

.grid-big-child div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--size-2) var(--size-2);
  height: 20%;
}

.grid-big-child li {
  border: 1px solid grey;
  margin-left: 10px;
  padding: 10px var(--size-2);
}

/* grid-small-child styling */

.grid-small-child {
  width: 100%;
  border: 1px solid grey; /* TEMPORARY */
}

.grid-small-child figure {
  width: 100%;
  height: 75%;
}

.grid-small-child div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--size-2) var(--size-2);
  height: 25%;
}

.grid-small-child li {
  border: 1px solid grey;
  font-size: 14px;
  margin-left: 10px;
  padding: 0.5rem var(--size-2);
}

/* work-1 styling */

.work-1 {
  grid-area: work-1;
}

.work-1 figure {
  background: url("../images/code-refactor.png") no-repeat top;
  background-size: cover;
}

/* work-2 styling */

.work-2 {
  grid-area: work-2;
}

.work-2 figure {
  background: url("../images/furniture.png") no-repeat top;
  background-size: cover;
}

/* work-3 styling */

.work-3 {
  grid-area: work-3;
}

.work-3 figure {
  background: url("../images/figma-one.png") no-repeat top;
  background-size: cover;
}

/* work-4 styling */

.work-4 {
  grid-area: work-4;
}

.work-4 figure {
  background: url("../images/jakes-eatery.png") no-repeat top;
  background-size: cover;
}

/* work-5 styling */

.work-5 {
  grid-area: work-5;
}

.work-5 figure {
  background: url("../images/on-my-own.png") no-repeat top;
  background-size: cover;
}