@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --pri-color: #FF3D00;
  --sec-color: #6D3AF9;   
  --ter-color: #FF8DFF;
  --qua-color: #ffffff;
  --qui-color: #171717;
  --sen-color: #28E318;
  --sep-color: #F627F3;
  --size-1: 1rem; /* 16px */
  --size-2: 1.25rem; /* 20px */
  --size-3: 1.5rem; /* 24px */
  --size-4: 1.75rem; /* 28px */
  --size-5: 2rem; /* 32px */
  --size-6: 2.25rem; /* 36px */
  --size-7: 2.5rem; /* 40px */
  --size-8: 2.75rem; /* 44px */
  --size-9: 3rem; /* 48px */
  --size-10: 3.25rem; /* 52px */
  --size-11: 3.5rem; /* 56px */
  --size-12: 3.75rem; /* 60px */
  --size-13: 4rem; /* 64px */
  --global-font: 'Roboto', sans-serif;
  --rounded-radius: 4rem;
}

/* flexible and reusable styling */

* {
  color: var(--qua-color);
  font-family: var(--global-font);
  font-weight: 400;
}

body {
  background-color: black;
}

strong {
  font-weight: 500;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

h1 {
  font-size: 4.5lvw;
}

h2 {
  color: var(--sec-color);
  font-size: 3.5lvw;
  font-weight: 700;
}

h3 {
  font-size: 2lvw;
  font-weight: 700;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.75lvw;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
}

.border {
  border: 2px solid var(--sec-color);
}

.done {
  border: 1px solid var(--sen-color);
}

.not-done {
  border: 1px solid #5E5E5E;
  color: #5E5E5E;
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--size-2) var(--size-7);
}

.space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* HEADER styling */

header {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

/* nav styling */

nav {
  margin-top: var(--size-2);
}

.nav-right li {
  font-size: var(--size-1);
  margin-left: var(--size-2);
  transition: transform 0.25s;
}

.nav-right li:hover {
  color: var(--sep-color);
  cursor: pointer;
  transform: translate(0, -2.5px);  
}

.nav-buttom {
  border: 2px solid var(--sen-color);
  border-radius: var(--rounded-radius);
  color: var(--sen-color);
  font-weight: 700;
  padding: 10px var(--size-2);
  transition: transform 0.1s;
}

li .nav-buttom:hover {
  border: 2px solid var(--sep-color);
  color: var(--sen-color);
  cursor: pointer;
  transform: translate(0, -5px);
}

/* HIDDEN-MENU styling */

#hidden-menu {
  display: none;
}

.hidden {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.flex-hidden {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--size-7);
  width: 100%;
}

.flex-hidden > p {
  font-size: 2.25vw;
  padding: var(--size-2) 0;
  text-align: center;
}

/* UNDER-HEADER styling */

#under-header {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: var(--size-2) auto;
}

.under-left {
  border: 2px solid var(--sec-color);
  border-radius: 5rem;
  padding: 2px;
}

.under-left figure {
  background: url("../images/profile.png") no-repeat center;
  background-size: cover;
  border-radius: 5rem;
  width: 10rem;
  height: 10rem;
}

.under-right strong {
  color: var(--sen-color);
}

/* ROADMAP styling */

#roadmap {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: var(--size-2) auto;
}

.flex-roadmap {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: var(--size-2);
  padding: var(--size-2) var(--size-7);
}

.road-right li {
  font-size: 1.2lvw;
  margin-left: 10px;
  padding: 10px var(--size-2);
}

/* ABOUT-ME styling */

#about-me {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: var(--size-2) auto;
  /* border: 1px solid grey; TEMPORARY */
}

.flex-about {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  padding: var(--size-7);
}

.about-top h2 {
  display: inline-block;
}

.about-bottom P {
  font-size: var(--size-2); 
}

.about-bottom p + p {
  margin-top: var(--size-2);  
}

/* WORK styling */

#work {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: var(--size-2) auto;
  /* border: 1px solid grey; TEMPORARY */
}

.flex-work {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  padding: var(--size-7);
}

.grid-work {
  display: grid;
  gap: var(--size-2);
  grid-template-rows: repeat(10, 100px);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "work-1 work-1"
    "work-1 work-1"
    "work-1 work-1"
    "work-1 work-1"
    "work-2 work-3"
    "work-2 work-3"
    "work-2 work-3"
    "work-4 work-5"
    "work-4 work-5"
    "work-4 work-5";
  width: 100% ;
}

/* grid-big-child styling */

.grid-big-child {
  border: 2px solid var(--qua-color);
  width: 100%;
}

.grid-big-child figure {
  width: 100%;
  height: 75%;
}

.grid-big-child div {
  align-items: center;
  border-top: 2px solid var(--qua-color);
  display: flex;
  justify-content: space-between;
  padding: var(--size-2);
  height: 25%;
}

.grid-big-child li {
  border: 2px solid var(--sen-color);
  font-size: 1vw;
  margin-left: 10px;
  padding: 10px var(--size-2);
}

/* grid-small-child styling */

.grid-small-child {
  border: 2px solid var(--qua-color);
  width: 100%;
}

.grid-small-child figure {
  width: 100%;
  height: 75%;
}

.grid-small-child div {
  align-items: center;
  border-top: 2px solid var(--qua-color);
  display: flex;
  justify-content: space-between;
  padding: var(--size-2);
  height: 25%;
}

.grid-small-child li {
  border: 2px solid var(--sen-color);
  font-size: 1vw;
  margin-left: 10px;
  padding: 0.5rem var(--size-2);
}

/* work-1 styling */

.work-1 {
  grid-area: work-1;
}

.work-1 figure {
  background: url("../images/code-refactor.png") no-repeat top;
  background-size: cover;
}

/* work-2 styling */

.work-2 {
  grid-area: work-2;
}

.work-2 figure {
  background: url("../images/furniture.png") no-repeat top;
  background-size: cover;
}

/* work-3 styling */

.work-3 {
  grid-area: work-3;
}

.work-3 figure {
  background: url("../images/figma-one.png") no-repeat top;
  background-size: cover;
}

/* work-4 styling */

.work-4 {
  grid-area: work-4;
}

.work-4 figure {
  background: url("../images/jakes-eatery.png") no-repeat top;
  background-size: cover;
}

/* work-5 styling */

.work-5 {
  grid-area: work-5;
}

.work-5 figure {
  background: url("../images/on-my-own.png") no-repeat top;
  background-size: cover;
}

/* FOOTER styling */

footer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: var(--size-2) auto;
}

.flex-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: var(--size-2);
  padding: var(--size-2) var(--size-7);
}

.footer-center {
  letter-spacing: 1px;
}

.footer-right li {
  margin-left: 10px;
  width: var(--size-5);
}

  /* RWD Media Queries */

@media only screen and (max-width: 1440px) {
  
  .road-right li {
    padding: 10px;
  }
}

@media only screen and (max-width: 896px) {
  h1 {
    font-size: 5svw;
  }
  
  h2 {
    font-size: 4svw;
  }

  h3 {
    font-size: 3svw;
  }

  h4 {
    font-size: 2.5svw;
  }

  .container {
    width: 90%;
  }

  /* ROADMAP styling */

  .road-left {
    display: none;
  }

  .road-right {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .road-right ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .road-right li {
    font-size: 1.75lvw;
    margin: 0;
    padding: 10px;
  }

  /* WORK styling*/

  .grid-work {
    grid-template-rows: repeat(15, 75px);
    grid-template-columns: 1fr;
    grid-template-areas:
      "work-1"
      "work-1"
      "work-1"
      "work-2"
      "work-2"
      "work-2"
      "work-3"
      "work-3"
      "work-3"
      "work-4"
      "work-4"
      "work-4"
      "work-5"
      "work-5"
      "work-5";
  }

  .grid-big-child li {
    font-size: 2svw;
  }
  
  .grid-small-child li {
    font-size: 2svw;
  }

  /* FOOTER styling*/

  .footer-center {
    font-size: 2svw;
  }

  .footer-right li {
    margin-left: 10px;
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {

  h1 {
    font-size: 5svw;
  }
  
  h2 {
    font-size: 4svw;
  }

  h3 {
    font-size: 3svw;
  }

  h4 {
    font-size: 2.5svw;
  }

  .flex-hidden {
    padding: 0 var(--size-2);
  }

  .flex-roadmap,
  .flex-about,
  .flex-work,
  .flex-footer {
    padding: var(--size-2);
  }

  /* NAV styling */

  .nav-right {
    display: none;
  }

  /* ABOUT-ME styling */

  .about-bottom P {
    font-size: 2.5svw;
  }

  /* FOOTER styling*/

  .footer-left {
    display: none;
  }

  .footer-center {
    font-size: 2.5svw;
  }
}

@media only screen and (max-width: 600px) {
  .row {
    padding: var(--size-2) var(--size-2);
  }

  /* UNDER-HEADER Styling */

  .under-left figure {
    width: 7.5rem;
    height: 7.5rem;
  }
}

@media only screen and (max-width: 512px) {
  
  /* ROADMAP Styling */
  
  .road-right li {
    padding: 10px 7.5px;
  }
}

@media only screen and (max-width: 425px) {

  /* ABOUT-ME Styling */

  .about-bottom P {
    font-size: 3svw;
  }
  
  /* ROADMAP Styling */
  .road-right li {
    padding: 10px 7.5px;
  }
}
